<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PGSyncro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
  
  <appSettings>
    <add key="versionapp" value="2.1"></add>
        <!-- Mail Configuration -->
    <add key="Smtp_Server" value="localhost" />
    <add key="Smtp_Port" value="25" />
    <add key="Smtp_IsSSL" value="false" />
    <add key="Smtp_Timeout" value="10000" />
    <add key="Smtp_DefaultCredential" value="false" />
  <!-- PROXY -->
    <add key="proxyOn" value="on"/>
    <add key="proxyServer" value="wpac"/>
    <add key="proxyPort" value="8080"/>
    <add key="proxyDomain" value="G-BAPRO"/>
    <add key="proxyUsername" value="atupone"/>
  <!-- DECIDIR-->
        <add key="SPS_Operation_GetData_URL" value="https://live.decidir.com/api/soap/1.1/getoperation"/>
     <add key="SPS_Operation_GetData_Authorization" value="PRISMA 8XMK8MP7B7DQ29ZXUG51JNEG"/>
    <add key="SPS_API_BASE" value="https://live.decidir.com" />
    <add key="SPS_API_TRANSACTION" value="/api/v2/payments" />
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

<connectionStrings>
  <add name="PaymentGatewayEntities"
  connectionString="metadata=res://*/EFData.PGDataModel.csdl|res://*/EFData.PGDataModel.ssdl|res://*/EFData.PGDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MITWTSQL02;initial catalog=PaymentGateway;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
  providerName="System.Data.EntityClient"/>
</connectionStrings>
<entityFramework>
<providers>
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
</providers>
</entityFramework>
  <applicationSettings>
    <PGSyncro.Properties.Settings>
      <setting name="PGSyncro_NPS_ServiceReference_PROD_PaymentServicePlatform"
        serializeAs="String">
        <value>https://services2.nps.com.ar:443/ws.php</value>
      </setting>
    </PGSyncro.Properties.Settings>
  </applicationSettings>
</configuration>