<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PGPluginSPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="strSecurityHash" value="Ty4de2n06FJPG3ZtAa91vlmSujr0h70A42li5Zi9ozW215tBf0CYlxzdgqcOyaW2" />
		<!--este ep CallbackSPS es de las versiones viejas PG 3.1:-->
		<add key="SPSCallback" value="http://localhost:63172/CallbackSPS" />
		<add key="SPSEntryPoint" value="https://developers.decidir.com/forms/Validar" />
		<!--Config que no la tiene prod:-->
		<add key="SPSEntryPointRedirect" value="http://localhost:63172/redirect" />
		<add key="UseHashMethodIDTRANSACCION" value="off" />
		<!-- BO Proxy Configuration [Added 3.4 for SPS Web Service] en la config de prod esta on-->
		<add key="proxyOn" value="off" />
		<add key="UseProxy" value="1" />
		<add key="ProxyServer" value="172.17.10.70" />
		<add key="ProxyPort" value="8080" />
		<add key="ProxyDomain" value="" />
		<add key="ProxyUsername" value="" />
		<add key="ProxyPassword" value="" />
		<add key="CertificateOn" value="off" />
		<add key="CertificatePath" value="C:\TempCertSPS\TempCA.cer" />
		<!--Certificate directory and filename-->
		<add key="SPSWebService_SacXmlRpcServer" value="https://sps433.decidir.net/sps-ar/SacXmlRpcServer" />
		<!-- EO Proxy Configuration [Added 3.4]-->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- SPS Service Operation GetData Configuration [Added 4.1]-->
		<add key="SPS_Operation_GetData_URL" value="https://developers.decidir.com/api/soap/1.1/getoperation" />
		<add key="SPS_Operation_GetData_Authorization" value="PRISMA TB8C4OU8HUB7BJ2VAU6D7IP4" />
		<!-- SPS API-->
		<!--config prod <add key="SPS_API_BASE" value="https://live.decidir.com" />-->
		<add key="SPS_API_BASE" value="https://developers.decidir.com" />
		<add key="SPS_API_TRANSACTION" value="/api/v2/payments" />
		<add key="SPS_API_REQUEST" value="/web/forms" />
		<add key="templateSPS" value="24104" />
		<add key="PG_REDIRECT" value="http://localhost:63172/s/" />
		<!-- PG Data Layer-->
		<add key="PGDL_URL" value="https://localhost:44384/" />
		<add key="PGDL_User" value="PGSLAYER" />
		<add key="PGDL_Password" value="lmp9TIKFHfg3g42hgrgs3fg3g11vVKacZF3iXwc70tDzrTmtPQ" />
	</appSettings>
	<system.web>
		<compilation targetFramework="4.5" debug="true">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<basicHttpsBinding>
				<binding name="BasicHttpBinding_IPGDataService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpsBinding>
		</bindings>
		<client>
			<endpoint address="https://dev-pgwebsvcs.provincianet.com.ar/PaymentGateway/PGDataAccess/PGDataService.svc" binding="basicHttpsBinding" contract="PGDataAccess.IPGDataService" name="BasicHttpBinding_IPGDataService" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<!--<dependentAssembly><assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" /></dependentAssembly><dependentAssembly><assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" /></dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<httpProtocol allowKeepAlive="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<applicationSettings>
		<PGPluginSPS.Properties.Settings>
			<setting name="PGPluginSPS_SpsServiceReference_Operation" serializeAs="String">
				<value>https://192.168.135.35:8443/services/t/decidir.net/Operation.OperationHttpsSoap11Endpoint</value>
			</setting>
		</PGPluginSPS.Properties.Settings>
	</applicationSettings>
</configuration>