<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel xdt:Transform="Replace">
    <client>

      <endpoint address="https://tst-websvcs.provincianet.com.ar/PaymentGatewayTST/PGDataAccess/PGDataService.svc"
        binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IPGDataService"
                contract="PGDataAccess.IPGDataService" name="BasicHttpsBinding_IPGDataService" />


    </client>

  </system.serviceModel>

  <appSettings>
    <add key ="PGWebAdmin_URL" value="https://tst-websvcs.provincianet.com.ar/PaymentGatewayTST/PGWebAdmin/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Plugin_NPS_URL" value="https://tst-websvcs.provincianet.com.ar/PaymentGatewayTST/pgpluginnps" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Plugin_SPS_URL" value="https://tst-websvcs.provincianet.com.ar/PaymentGatewayTST/PGDPluginSPS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>


</configuration>