<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <system.serviceModel>
    <client>
      <endpoint  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" address="__DataAccessServiceAddress__"
       binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IPGDataService"
                contract="PGDataAccess.IPGDataService" name="BasicHttpsBinding_IPGDataService" />
    </client>
  </system.serviceModel>
  

  


  <appSettings>
    <add key ="PGWebAdmin_URL" value="__PGWebAdmin_URL__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Plugin_NPS_URL" value="__Plugin_NPS_URL__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Plugin_SPS_URL" value="__Plugin_SPS_URL__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>