<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel xdt:Transform="Replace">
    <!--
  <serviceBehaviors>
      <behavior name="debug">
        <serviceDebug includeExceptionDetailInFaults="true" />
      </behavior>
    </serviceBehaviors>
  -->
 
    <client>

      <endpoint address="https://dev-websvcs.provincianet.com.ar/PaymentGateway/PGDataAccess/PGDataService.svc"
       binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IPGDataService"
                contract="PGDataAccess.IPGDataService" name="BasicHttpsBinding_IPGDataService" />

    </client>

  </system.serviceModel>

  <appSettings>
    <add key ="PGWebAdmin_URL" value="https://dev-websvcs.provincianet.com.ar/PaymentGateway/PGWebAdmin/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Plugin_NPS_URL" value="https://dev-websvcs.provincianet.com.ar/PaymentGateway/pgpluginnps" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Plugin_SPS_URL" value="https://dev-websvcs.provincianet.com.ar/PaymentGateway/pgpluginsps" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>


</configuration>